.writeup {
    position: absolute;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 45vh;
    left: 50vw;
    right: 0;
    bottom: 0;
    margin: auto;
    transform: translate(-50%, -50%);
    font-size: 3vw; /* Adjust the value as needed */
}